@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #16202b;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px; /* Limita a largura do input */
}

button {
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.logout-button {
    background-color: #dc3545; /* Vermelho */
}

.logout-button:hover {
    background-color: #c82333; /* Cor ao passar o mouse */
}
