body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.intro-container {
  background-color: transparent;
  color: #fff;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: auto;
  text-align: center;
  min-height: 600px;
  overflow: auto;
  animation: slideIn 1s ease-out;
  backdrop-filter: blur(10px);
}

.intro-container::-webkit-scrollbar {
  display: none;
}

.intro-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.highlight-text {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(90deg, #fff, #a160fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0;
  animation: textGlow 2s ease-in-out infinite alternate;
  transition: transform 0.5s ease, letter-spacing 0.5s ease;
}

.highlight-text:hover {
  transform: scale(1.1);
  letter-spacing: 3px;
}

.intro-description {
  font-size: 1.2rem;
  color: #b0b0b0;
  margin: 20px 0;
  transition: color 0.5s ease, transform 0.5s ease;
}

.intro-description:hover {
  color: #ffffff;
  transform: scale(1.1);
}

.intro-benefits {
  margin: 40px 0;
}

.benefits-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  animation: fadeInUp 2s ease-out both;
}

.benefits-list li {
  transition: background 0.5s ease, transform 0.5s ease, color 0.5s ease;
  padding: 10px;
  border-radius: 8px;
}

.intro-image {
  width: 120px;
  margin: 20px 0;
  animation: fadeIn 2s, bounce 3s infinite;
}

.regisText {
  cursor: pointer;
  color: #a160fc;
  text-transform: uppercase;
  transition: font-size 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

.regisText:hover {
  font-size: 18px;
  color: #c59cff;
  text-shadow: 0 0 15px #c59cff, 0 0 30px #c59cff;
}

.cookie-consent {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #161a1e;
  color: #e7eef6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cookie-consent li {
  list-style-type: none;
}

.cookie-consent h3 {
  margin: 0 0 10px;
  font-weight: bold;
}

.cookie-consent p {
  margin: 5px 0;
}

.cookie-buttons {
  margin-top: 10px;
}

.cookie-buttons button {
  margin-right: 10px;
  transition: transform 0.5s ease, background 0.5s ease;
}

.cookie-buttons button:hover {
  transform: scale(1.1);
  background-color: #5a5a5a;
}

.cookie-consent::-webkit-scrollbar {
  width: 8px;
}

.cookie-consent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.cookie-consent::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textGlow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 15px rgba(255, 255, 255, 0.6);
  }
  100% {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1),
      0 0 40px rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 768px) {
  .intro-container {
    padding: 20px 10px;
    min-height: 400px;
  }

  .highlight-text {
    font-size: 30px;
  }

  .intro-description {
    font-size: 1rem;
  }

  .benefits-title {
    font-size: 1.5rem;
  }

  .benefits-list li {
    font-size: 0.9rem;
  }
}
