.room-container {
  background-color: #16202b; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  padding: 20px;
  border-radius: 10px; /* Arredondar os cantos do container */
}

.room-title {
  text-align: center; /* Centraliza o título da sala */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.message-container {
  border: 2px solid transparent;
  background-color: #002c3f; /* Fundo branco para o container */
}

.message-container div {
  transition: all 0.3s; /* Suaviza as transições */
}

.message-container div:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao passar o mouse */
}

.label-checks span:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

/* Para navegadores Webkit (Chrome, Safari, Edge) */
.message-container {
  /* Estilo base da scrollbar */
  overflow-y: scroll; /* Permite que a barra de rolagem apareça */
}

.message-container::-webkit-scrollbar {
  width: 4px; /* Largura da barra de rolagem */
}

.message-container::-webkit-scrollbar-track {
  background: #016eb6; /* Cor de fundo da pista da barra de rolagem */
  border-radius: 10px; /* Bordas arredondadas da pista */
}

.message-container::-webkit-scrollbar-thumb {
  background: #013854; /* Cor da parte que pode ser arrastada */
  border-radius: 10px; /* Bordas arredondadas da parte arrastável */
}

.message-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor ao passar o mouse sobre a parte arrastável */
}

.btn-exitUser {
  background-color: transparent;
}

/* Para navegadores Firefox */
.message-container {
  scrollbar-width: thin; /* Barra de rolagem fina */
  scrollbar-color: #005a8b #001b55; /* Cor do "polegar" e da "pista" */
}

.custom-alert {
  background-color: #d4edda; /* Cor de fundo verde clara */
  border-color: #c3e6cb; /* Cor da borda verde */
  color: #155724; /* Cor do texto verde escuro */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px; /* Espaçamento interno */
  margin: 10px 0; /* Margem superior e inferior */
}

.message {
  padding: 5px;
  border-bottom: 1px solid #eee; /* Borda abaixo de cada mensagem */
}

.sub-textMsg small {
  font-size: 13px;
}

.typing-indicator {
  margin-bottom: 10px; /* Espaçamento abaixo do indicador de digitação */
}

.status-message {
  color: green; /* Cor para mensagens de status */
  text-align: center; /* Centraliza a mensagem */
}

button {
  margin: 5px; /* Espaçamento entre os botões */
}

h3 {
  margin-top: 20px; /* Espaço acima dos títulos secundários */
}
.input-audio-container {
  position: relative; /* Para que o áudio e os botões possam ser posicionados em relação ao input */
}

.input-audio-container input {
  flex: 1; /* Para que o input ocupe o máximo de espaço disponível */
  border-radius: 5px; /* Bordas arredondadas para um visual mais suave */
}

.input-audio-container audio {
  position: absolute; /* Posiciona o controle de áudio dentro do input */
  top: 0;
  right: 0;
  height: 100%; /* Faz com que o áudio ocupe toda a altura do input */
  margin: 0 10px; /* Margem para separar do texto do input */
  display: none; /* Escondido inicialmente, será exibido quando um áudio for gravado */
}

.input-audio-container.audio-active audio {
  display: block; /* Exibe o áudio se houver um arquivo de áudio */
}
